<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
        
        <meta charset="utf-8" />
        <title>recu </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- App favicon -->
        <!-- Bootstrap Css -->
        <link th:href="@{/assets/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link th:href="@{/assets/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">


            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo.svg" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="" height="17">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-light.svg" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-light.png" alt="" height="19">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>



                    </div>

                    <div class="d-flex">

                        <div class="dropdown d-inline-block d-lg-none ms-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-magnify"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                 aria-labelledby="page-header-search-dropdown">


                            </div>
                        </div>

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-none d-xl-inline-block ms-1" key="t-henry">[[${#httpServletRequest.remoteUser}]]</span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">

                                <a class="dropdown-item text-danger" th:href="@{/logout}"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Se deconnecter</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" key="t-menu">Menu</li>


                            <li>
                                <a href="/" class="waves-effect">
                                    <i class="bx bx-home"></i>
                                    <span key="t-chat">Accueil</span>
                                </a>
                            </li>
                            <li>
                                <a href="/vente" class="waves-effect">
                                    <i class="bx bx-cart"></i>
                                    <span key="t-chat">ventes</span>
                                </a>
                            </li>
                            <li>
                                <a href="/recu" class="waves-effect">
                                    <i class="bx bx-receipt"></i>
                                    <span key="t-chat">Recue</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bxs-package"></i>
                                    <span key="t-crypto">Aricles</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/article" key="t-wallet">produit</a></li>
                                    <li><a href="/approvisionnement" key="t-wallet">Approvisionnement</a></li>
                                    <li><a href="/categorie" key="t-buy">Categorie</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/client" class="waves-effect">
                                    <i class="bx bxs-group "></i>
                                    <span key="t-chat">Client</span>
                                </a>
                            </li>

                            <li>
                                <a href="/utilisateur" class="waves-effect">
                                    <i class="bx bx-user"></i>
                                    <span key="t-chat">Utilisateur</span>
                                </a>
                            </li>


                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->





            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Recu</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">recu</a></li>
                                            <li class="breadcrumb-item active">Details</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="invoice-title">
                                            <div class="mb-4">
                                                <img th:src="@{/assets/images/logo-dark.png}" alt="logo" height="20"/>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <address>
                                                    <strong>Client:</strong><br>
                                                    [[${nomclient}]]<br>


                                                </address>
                                            </div>
                                            <div class="col-sm-6 text-sm-end">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 mt-3">

                                            </div>
                                            <div class="col-sm-6 mt-3 text-sm-end">
                                                <address>
                                                    <strong>Date:</strong>
                                                    <br>
                                                    [[${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}]]<br>
                                                </address>
                                            </div>
                                        </div>
                                        <div class="py-2 mt-3">
                                            <h3 class="font-size-15 fw-bold">Facture total</h3>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-nowrap">
                                                <thead>
                                                    <tr >
                                                        <th style="width: 70px;">No.</th>
                                                        <th>produit</th>
                                                        <th >prix</th>
                                                        <th >Quantite</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="recu : ${recu}">
                                                        <td th:utext="${recu.id}"></td>
                                                        <td th:utext="${recu.article.libelle}"></td>
                                                        <td th:utext="${recu.article.prix}" ></td>
                                                        <td th:utext="${recu.qtVendue}" ></td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" class="border-0 text-end">
                                                            <strong>Total</strong></td>
                                                        <td class="border-0 text-end"><h4 class="m-0">[[${totale}]]</h4></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="d-print-none">
                                            <div class="float-end">
                                                <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1"><i class="fa fa-print"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Skote.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Design & Develop by Themesbrand
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script th:src="@{/assets/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets/libs/metismenu/metisMenu.min.js}"></script>
        <script th:src="@{/assets/libs/simplebar/simplebar.min.js}"></script>
        <script th:src="@{/assets/libs/node-waves/waves.min.js}"></script>

        <script th:src="@{/assets/js/app.js}"></script>

    </body>

</html>
